@use "../../../sass/assets" as a;

footer {
  border-top: 2px solid a.$orange;
  width: 85%;
  margin: 3em auto 2em;

  div.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    a {
      text-decoration: none;
      color: a.$secondary;
      margin-top: 2em;

      &:hover {
        text-decoration: 2px dotted underline a.$secondary;
      }
    }

    img {
      max-width: 140px;
    }
  }
}
