<main>

    <div class="hero">
        <picture>
            <source srcset="assets/images/students.webp" type="image/webp">
            <source srcset="assets/images/students.avif" type="image/avif">
            <img src="assets/images/students.jpg" alt="En kvinna och två män på en gräsmatta">
        </picture>
        <p class="imgtext">Utkantuniversitetet &ndash; här är alla glada på bild</p>
    </div> <!-- Slut på div.hero -->
    <div class="content-wrapper">
        <div class="uni-info">
            <span>{{ allCourses.length }} kurser</span>
            <span>18293212 studenter</span>
        </div> <!-- Slut på uni-info -->
        <p>Välkommen till vårt universitet, där kunskap möter innovation och framtidens ledare formas. Vi erbjuder en
            inspirerande miljö som främjar akademisk excellens och personlig utveckling så att du är väl förberedd för
            att
            möta morgondagens utmaningar.</p>
        <div class="news">
            <article>
                <h2>Efter år av forskning är det bevisat: raukar är jättestora stenar</h2>
                <p><span class="date">2024-07-18</span>Sedan urminnes tider har det spekulerats om vad de mystiska
                    formationerna egentligen är. Populära teorier
                    har inkluderat gigantiska fröer och utomjordiska kvarlevor. Men efter fem års forskning har äntligen
                    forskarteamet Sven-Erik Marklund och Sebastian Bach kunnat bevisa utan tvivel att det faktiskt rör
                    sig
                    om helt vanlig sten.
                    <br>
                    "Jag blev genuint överraskad över vad våra analyser visar", säger Sven-Erik Marklund. "Det hade man
                    ju
                    aldrig
                    kunnat gissa."
                </p>
            </article>
            <article>
                <h2>Ny nominering till "Årets dummaste fråga"-kategorin på skolgalan</h2>
                <p><span class="date">2024-07-12</span>Inför årets skolgala, där priser delas ut för anmärkningsvärda
                    bedrifter under det gångna året, delas
                    även ut pris för årets dummaste fråga.
                    <br>
                    Andra nomineringar inom samma kategori handlar mestadels om mänsklig reproduktion,
                    men den senaste inkomna nomineringen lyder "Hur långt simmar man i Vasaloppet?"
                    <br>
                    Varmt lycka till i tävlingen.
                </p>
            </article>
        </div> <!-- Slut på news -->
    </div> <!-- Slut på content-wrapper -->
    <div class="img-links">
        <picture>
            <source srcset="assets/images/uni.webp" type="image/webp">
            <source srcset="assets/images/uni.avif" type="image/avif">
            <img src="assets/images/uni.jpg" alt="Universitet sett från fågelperspektiv">
        </picture>
        <div class="linkbox">
            <p>Vill du bli skolsköterska? Jurist? Björntränare? Kanske vill du bara ta reda på hur många underarter
                strupsnittsöringen har? Vi har minst en kurs som passar dina önskemål och ändamål. Du lämnar inte campus
                förrän du har lärt dig. </p>
            <a routerLink="/courses" class="btn-1">Utforska våra kurser <span class="arrow">&#x2794;</span></a>
        </div> <!-- Slut på linkbox -->
    </div> <!-- slut på img-links -->
    <div class="img-links">
        <picture>
            <source srcset="assets/images/audit.webp" type="image/webp">
            <source srcset="assets/images/audit.avif" type="image/avif">
            <img src="assets/images/audit.jpg" alt="Universitet sett från fågelperspektiv">
        </picture>
        <div class="linkbox">
            <p>Slipp krångel med att hålla kurserna i huvudet. Använd vår hemsida för att skapa ditt eget ramschema och
                få
                en snabbare överblick över hur mycket eller lite du faktiskt har lärt dig. </p>
            <a routerLink="/ramschema" class="btn-1">Till ramschemat <span class="arrow">&#x2794;</span></a>
        </div> <!-- Slut på linkbox -->
    </div> <!-- slut på img-links -->
    <div class="content-wrapper grid-container">
        <div class="card">
            <picture>
                <source srcset="assets/images/fastboi.webp" type="image/webp">
                <source srcset="assets/images/fastboi.avif" type="image/avif">
                <img src="assets/images/fastboi.jpg" alt="Svartvit retrobild av en man på gammal, men snabb cykel">
            </picture>
            <div class="text">
                <h3>Universitet med anor</h3>
                <p>Den här supersnabba räkan gick dock inte här.</p>
            </div> <!-- Slut på div.text -->
        </div> <!-- Slut på card -->
        <div class="card">
            <picture>
                <source srcset="assets/images/smartgal.webp" type="image/webp">
                <source srcset="assets/images/smartgal.avif" type="image/avif">
                <img src="assets/images/smartgal.jpg" alt="En kvinna tittar in i ett mikroskop">
            </picture>
            <div class="text">
                <h3>Forskning</h3>
                <p>På Utuni lär man sig att kolla in i mikroskop. Vad det är man tittar på vet bara gud.</p>
            </div> <!-- Slut på div.text -->
        </div> <!-- Slut på card -->
    </div> <!-- Slut på grid-container -->
</main>