<main>
    <div class="breadcrumb-container">
        <a routerLink="/">Startsida</a> / <a routerLink="/courses" routerLinkActive="current">Kurser</a>
    </div> <!-- Slut på breadcrumb-container -->
    <!-- Filtrering -->
    <div class="filter-wrapper">
        <div class="filter-controls">

            <label for="search">Fritextsökning:</label>
            <input type="search" name="search" id="search" [(ngModel)]="searchInput" (ngModelChange)="searchCourse()"
                placeholder="T.ex DT200G">
            <label for="subjects">Filtrera enligt ämne:</label>
            <select name="subjects" id="subjects" [(ngModel)]="specificSubject" (ngModelChange)="filterBySubject()">
                <option value="" disabled selected>Välj ämne</option>
                <option value="alla">Alla ämnen</option>
                <option *ngFor="let subject of allSubjects" [ngValue]="subject">{{ subject }}</option>
            </select>
        </div> <!-- Slut på filter-controls -->
    </div> <!-- Slut på div.filter-wrapper -->
    <!-- Tabell -->
    <div class="table-wrapper">
        <!-- Paginering -->
        <!-- Kontroll -->
        @if (paginatedCourses.length < 1) { <p>Det finns inga kurser att visa...</p>
            }
            @else {

            <table>
                <tr>
                    <th (click)="sortCourses('courseCode')">Kurskod</th>
                    <th (click)="sortCourses('courseName')">Kursnamn</th>
                    <th (click)="sortCourses('subject')">Ämne</th>
                    <th (click)="sortCourses('points')">Poäng</th>
                    <th class="no-click">Kursplan</th>
                    <th class="no-click" id="cadd">Lägg till</th>
                </tr>
                <!-- Loopa igenom -->
                <tr *ngFor="let course of paginatedCourses">
                    <td>{{ course.courseCode }}</td>
                    <td>{{ course.courseName }}</td>
                    <td>{{ course.subject }}</td>
                    <td class="points">{{ course.points }}</td>
                    <td><a href="{{course.syllabus}}" target="_blank">Länk</a></td>
                    <td class="add" (click)="addCourse(course)">
                        <span *ngIf="!course.added">+</span>
                        <span *ngIf="course.added">&check;</span>
                    </td>
                </tr>
            </table>
            <mat-paginator [length]="allCourses.length" [pageSize]="20" [pageSizeOptions]="[5, 10, 20, 50]"
                (page)="onPageChange($event)">
            </mat-paginator>
            }
    </div> <!-- Slut på table-wrapper -->
</main>