@use "../../../../styles.scss" as a;

/* Breadcrumbs */
div.breadcrumb-container {
  margin: 1em 0 1em 4em;
  a {
    font-size: 0.8em;
    text-decoration: none;
    color: a.$secondary;

    &.current {
      color: a.$primary;
    }
  }
}

/* Filtrering */
.filter-wrapper {
  width: 100%;
  background-color: a.$primary;
  color: white;

  .filter-controls {
    width: 60%;
    margin: 0 auto 2em;
    padding: 3em 1em;
  }
  label {
    display: block;
    font-family: a.$fancyfont;
    font-size: 1em;
    margin: 0.3em 0;
  }
  label:nth-child(3) {
    margin-top: 3em;
  }
  input,
  select {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid white;
    padding: 0.3em 0;
    font-size: 1em;
    font-family: a.$bread;
    color: white;
  }
  input::placeholder {
    color: a.$secondary;
    font-style: italic;
  }
}

/* Tabell */
.table-wrapper {
  /* Sätt bredd och scrollbarhet */
  width: 95%;
  margin: auto;
  overflow-x: scroll;

  table {
    /* Möjliggör border */
    border-collapse: collapse;
    width: 100%;
    /* Positionera rubriker */
    th {
      text-align: left;
      padding-bottom: 0.5em;
      padding-right: 0.6em;
      font-family: a.$fancyfont;
      cursor: pointer;
    }
    //Specifikt lägg till-rubriken
    #cadd {
      text-align: center;
    }
    //Specifikt de oklickbara th-elementen
    th.no-click {
      cursor: default;
    }
    /* Sätt max-bredder */
    td {
      max-width: 300px;
      min-width: 50px;
      border-bottom: 1px solid a.$secondary;
      padding: 0.5em 0;
      /* Styla kursplanlänkar */
      a {
        font-size: 0.9em;
        color: a.$secondary;

        &:hover {
          color: a.$primary;
        }
      }
    }
    td.add {
      text-align: center;
      color: a.$orange;
      font-weight: bold;
      font-size: 1.7em;
      cursor: pointer;
      @include a.transition;

      &:hover {
        font-size: 2.2em;
      }
    }
  }
}

/* Media queries */
@media (max-width: 650px) {
  .filter-wrapper .filter-controls {
    width: 90%;
  }
}
