@use "../../../../sass/assets" as a;

/* Filtrering */
.filter-wrapper {
  width: 100%;
  background-color: a.$primary;
  color: white;

  .filter-controls {
    width: 60%;
    margin: 0 auto 2em;
    padding: 3em 1em;
  }
  label {
    display: block;
    font-family: a.$fancyfont;
    font-size: 1em;
    margin: 0.3em 0;
  }
  label:nth-child(3) {
    margin-top: 3em;
  }
  input,
  select {
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-bottom: 2px solid white;
    padding: 0.3em 0;
    font-size: 1em;
    font-family: a.$bread;
    color: white;
  }
  input::placeholder {
    color: a.$secondary;
    font-style: italic;
  }
}

mat-paginator {
  background-color: a.$beige;
}

/* Media queries */
@media (max-width: 650px) {
  .filter-wrapper .filter-controls {
    width: 90%;
  }
}
