@use "sass/assets" as a;

/*  Allmänna regler */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Len scrollning */
html {
  scroll-behavior: smooth;
}

/* Body-regler */
body {
  max-width: 2400px;
  margin: auto;
  overflow-x: hidden;
  background-color: a.$beige;
  font-family: a.$bread;
}

/* Minimihöjd main */
main {
  min-height: 90vh;
}

/* Ta bort listpunkter */
nav li {
  list-style: none;

  /* Ta bort understrykning på länkar */
  a {
    text-decoration: none;
  }
}

/* Typsnitt för rubriker */
h1,
h2,
h3,
a {
  font-family: a.$fancyfont;
}

/* Maxbredd på paragrafer */
p {
  max-width: 40em;
  line-height: 1.5;
}

/* Bildbredder */
img {
  width: 100%;
}

/* Länkar som ska stylas som knappar */
.btn-1 {
  background-color: a.$primary;
  color: white;
  text-decoration: none;
  padding: 0.8em 1.3em;
  @include a.transition;

  span {
    margin-left: 0.4em;
    position: relative;
    @include a.transition;
  }

  &:hover {
    background-color: a.$secondary;

    span {
      font-size: 1.3em;
      top: 0.07em;
    }
  }
}

html,
body {
  height: 100%;
}

//Breadcrumbs
div.breadcrumb-container {
  margin: 1em 0 1em 4em;
  a {
    font-size: 0.8em;
    text-decoration: none;
    color: a.$secondary;

    &.current {
      color: a.$primary;
    }
  }
}

/* Tabell */
.table-wrapper {
  /* Sätt bredd och scrollbarhet */
  width: 95%;
  margin: auto;
  overflow-x: scroll;

  table {
    /* Möjliggör border */
    border-collapse: collapse;
    width: 100%;
    /* Positionera rubriker */
    th {
      text-align: left;
      padding-bottom: 0.5em;
      padding-right: 0.6em;
      font-family: a.$fancyfont;
      cursor: pointer;
    }
    //Specifikt lägg till-rubriken
    #cadd {
      text-align: center;
    }
    //Specifikt de oklickbara th-elementen
    th.no-click {
      cursor: default;
    }
    /* Sätt max-bredder */
    td {
      max-width: 300px;
      min-width: 50px;
      border-bottom: 1px solid a.$secondary;
      padding: 0.5em 0;
      /* Styla kursplanlänkar */
      a {
        font-size: 0.9em;
        color: a.$secondary;

        &:hover {
          color: a.$primary;
        }
      }
    }
    .add {
      text-align: center;
      color: a.$orange;
      font-weight: bold;
      font-size: 1.7em;
      cursor: pointer;
      @include a.transition;

      &:hover {
        font-size: 2.2em;
      }
    }
    .remove {
      @extend .add;
      color: red;
      text-align: left;
    }
  }
}
